<nav class="icons">
  <a class="icon" routerLink="/sessions" routerLinkActive="active">
    <i class="material-icons" style="font-size: 1.8rem;">receipt_long</i>
  </a>

  <a class="icon" routerLink="/definitions" routerLinkActive="active">
    <i class="material-icons" style="font-size: 1.8rem;">integration_instructions</i>
  </a>

  <div class="spacer"></div>

  <a class="icon" routerLink="/settings" routerLinkActive="active">
    <i class="material-icons" style="font-size: 1.8rem;">engineering</i>
  </a>
</nav>
