.icons {
  display: flex;
  flex-direction: column;
  width: 4em;
  height: 100%;
  background: #495057;
  align-items: center;
  justify-content: center;
}

.icon {
  color: #d5d5d5;
  margin: 0.5em 0;
}
